    table { border: 2px solid black; border-collapse: collapse; text-align: center;}
    th { border-bottom: 2px solid black;}
	table, th, td {border: 1px solid black;}
	caption { font-weight: bold;  margin: 1em; }
	th {
    background-color: #87A4B7;
    color: white;
}
